.index__clearfix__src-commonComponent-TopPromptPannel-:after,
.index__clearfix__src-commonComponent-TopPromptPannel-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.77333rem;
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__txt__src-commonComponent-TopPromptPannel- {
    padding: .59733rem 1.49333rem;
    width: 90%;
    height: 100%;
    line-height: .768rem;
    font-size: .59733rem;
    box-sizing: border-box;
    background: url(//s1.hdslb.com/bfs/static/mult/images/open-notice.png) no-repeat;
    background-position: 100%
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__red__src-commonComponent-TopPromptPannel- {
    color: #fb7299
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__closeBtn__src-commonComponent-TopPromptPannel- {
    position: absolute;
    top: 1.06667rem;
    right: .53333rem;
    width: .64rem;
    height: .64rem;
    background: url(//s1.hdslb.com/bfs/static/mult/images/icon-close.png) no-repeat;
    background-size: 100% 100%
}

.index__clearfix__src-commonComponent-Item-:after,
.index__clearfix__src-commonComponent-Item-:before,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item-:after,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__item__src-commonComponent-Item- {
    display: block;
    text-decoration: none;
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: .68267rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- {
    position: relative;
    width: 7.232rem;
    height: 4.52267rem;
    overflow: hidden;
    display: block;
    margin: auto;
    border-radius: .256rem;
    -webkit-border-radius: .256rem;
    background-color: #e7e7e7;
    z-index: 1;
    background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, .5))
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img.index__tv__src-commonComponent-Item- {
    position: relative;
    width: 4.52267rem;
    height: 4.52267rem;
    z-index: 1
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img {
    display: block;
    position: relative;
    margin: auto;
    width: 100%
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img.index__normal__src-commonComponent-Item- {
    position: absolute;
    top: 0;
    z-index: 2
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- {
    position: absolute;
    z-index: 3;
    left: 0;
    padding-left: .34133rem;
    width: 100%;
    bottom: 0;
    height: .68267rem;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, .5))
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__playIcon__src-commonComponent-Item- {
    position: relative;
    float: left;
    width: .68267rem;
    margin-top: -.064rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item- .index__icon__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__playIcon__src-commonComponent-Item- .index__icon__src-commonComponent-Item- {
    display: block;
    width: 100%;
    height: .68267rem;
    fill: #fff
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item- {
    margin-left: .61867rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- {
    position: relative;
    float: left;
    margin-left: .256rem;
    width: 2.048rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item- p,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- p {
    text-align: left;
    font-size: .46933rem;
    color: #fff;
    line-height: .59733rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item->img {
    display: block;
    width: 100%
}

.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- {
    width: 7.232rem;
    position: relative;
    margin: auto;
    margin-top: .21333rem;
    height: 1.36533rem;
    overflow: hidden
}

.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- p {
    font-size: .55467rem;
    color: #212121;
    letter-spacing: 0;
    line-height: .68267rem;
    text-align: left
}

p {
    max-height: 999999px
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none
}

body,
html {
    background-color: #fff;
    -webkit-tap-highlight-color: transparent
}

a:hover {
    text-decoration: none
}

input[type=button] {
    -webkit-appearance: none;
    outline: none
}

.index__home__src-home- {
    background-color: #f4f4f4
}

.index__home__src-home- .index__divider__src-home- {
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 3.79733rem
}

.index__home__src-home- .index__law__src-home- {
    position: relative;
    margin-top: 1.344rem;
    padding-bottom: .32rem
}

.index__home__src-home- .index__law__src-home- p {
    font-size: .55467rem;
    color: #999;
    line-height: 1.36533rem;
    text-align: center
}

.index__home__src-home- .index__toTop__src-home- {
    position: fixed;
    z-index: 3;
    bottom: .896rem;
    right: .896rem;
    width: 1.70667rem;
    padding-left: 1rem;
    padding-top: 1rem;
    display: none
}

.index__home__src-home- .index__toTop__src-home- img {
    display: block;
    width: 100%
}

.index__topArea__src-home-topArea- {
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 1.32267rem;
    padding: .27733rem 0;
    background-color: #fff
}

.index__topArea__src-home-topArea- a.index__logo__src-home-topArea- {
    position: absolute;
    display: block;
    left: .77867rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    width: 2.64533rem
}

.index__topArea__src-home-topArea- a.index__logo__src-home-topArea- img {
    position: relative;
    display: block;
    width: 100%;
    margin: auto
}

.index__topArea__src-home-topArea- a.index__searchIcon__src-home-topArea- {
    position: absolute;
    display: block;
    width: .896rem;
    height: .896rem;
    right: 42%;
    top: 50%;
    -webkit-transform: translateY(-50%)
}

.index__topArea__src-home-topArea- a.index__searchIcon__src-home-topArea- .index__icon__src-home-topArea- {
    display: block;
    width: 100%;
    height: 100%;
    fill: #aaa
}

.index__topArea__src-home-topArea- a.index__mySpace__src-home-topArea- {
    position: absolute;
    display: block;
    width: 1.024rem;
    height: 1.024rem;
    right: 30.13%;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    background: url("//static.hdslb.com/images/member/noface.gif") no-repeat;
    background-size: 100% 100%;
    overflow: hidden
}

.index__topArea__src-home-topArea- a.index__mySpace__src-home-topArea- img {
    position: relative;
    display: block;
    width: 1.024rem;
    height: 1.024rem
}

.index__topArea__src-home-topArea- a.index__downloadBtn__src-home-topArea- {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    right: .42667rem;
    width: 3.41333rem;
    height: 1.024rem;
    border: .02133rem solid #fb7299;
    border-radius: .17067rem;
    background-color: #fb7299
}

.index__topArea__src-home-topArea- a.index__downloadBtn__src-home-topArea- p {
    font-size: .55467rem;
    line-height: 1.06667rem;
    text-align: center;
    color: #fff
}

.index__partBox__src-home-zone- {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 1.87733rem;
    top: 1.856rem;
    z-index: 5;
    overflow: hidden;
    webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.index__partBox__src-home-zone- .index__pagesContainer__src-home-zone- {
    position: relative;
    width: 90%;
    padding-top: .256rem;
    overflow: hidden
}

.index__partBox__src-home-zone- .index__pagesContainer__src-home-zone- .index__scrollContainer__src-home-zone- {
    position: relative;
    padding-left: 1.024rem;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 1.87733rem;
    white-space: nowrap;
    padding-bottom: .21333rem;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000
}

.index__partBox__src-home-zone- .index__pagesContainer__src-home-zone- .index__scrollContainer__src-home-zone-::-webkit-scrollbar {
    display: none
}

.index__partBox__src-home-zone- .index__switchContainer__src-home-zone- {
    position: absolute;
    top: 0;
    width: 1.38667rem;
    height: 1.87733rem;
    right: .256rem
}

.index__partBox__src-home-zone- .index__switchContainer__src-home-zone- .index__icon__src-home-zone- {
    display: block;
    width: .68267rem;
    height: 1.87733rem;
    margin: auto;
    fill: #aaa
}

.index__curTab__src-home-zone-tab- {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    background-color: #fff;
    margin-right: 1.49333rem
}

.index__curTab__src-home-zone-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fb7299;
    border-bottom: .08533rem solid #fb7299
}

.index__tab__src-home-zone-tab- {
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    display: inline-block;
    background-color: #fff;
    margin-right: 1.49333rem;
    –webkit-transform: tranzlateZ(0)
}

.index__tab__src-home-zone-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #757575;
    border-bottom: .08533rem solid #fff
}

.index__curTab__src-home-zone-tab-.index__big__src-home-zone-tab->p,
.index__tab__src-home-zone-tab-.index__big__src-home-zone-tab->p {
    width: 1.96267rem
}

.index__partBox__src-home-zoneAll- {
    position: fixed;
    background-color: #fff;
    transform: translateY(-7.50933rem) translateZ(0);
    -webkit-transform: translateY(-9.38667rem) translateZ(0);
    transition: transform .4s;
    -webkit-transition: -webkit-transform .4s;
    top: 1.87733rem;
    z-index: 6;
    padding-left: .34133rem;
    padding-right: .29867rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.index__partBox__src-home-zoneAll- .index__pagesContainer__src-home-zoneAll- {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center
}

.index__partBox__src-home-zoneAll- .index__switchContainer__src-home-zoneAll- {
    position: relative;
    margin: auto;
    margin-top: -.10667rem;
    width: 3.84rem;
    height: .91733rem;
    margin-bottom: .27733rem
}

.index__partBox__src-home-zoneAll- .index__switchContainer__src-home-zoneAll- .index__icon__src-home-zoneAll- {
    position: absolute;
    display: block;
    width: .68267rem;
    height: .91733rem;
    margin: auto;
    left: 1.57867rem;
    fill: #aaa
}

.index__partBox__src-home-zoneAll-.index__show__src-home-zoneAll- {
    transform: translateY(0) translateZ(0);
    -webkit-transform: translateY(0) translateZ(0)
}

.index__curTab__src-home-zoneAll-tab- {
    position: relative;
    display: block;
    padding-top: .256rem;
    padding-bottom: .256rem;
    margin-left: .59733rem;
    margin-right: .59733rem;
    background-color: #fff
}

.index__curTab__src-home-zoneAll-tab- p {
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fb7299;
    width: 1.36533rem;
    border-bottom: .08533rem solid #fb7299
}

.index__tab__src-home-zoneAll-tab- {
    position: relative;
    display: block;
    padding-top: .256rem;
    padding-bottom: .256rem;
    margin-left: .59733rem;
    margin-right: .59733rem;
    background-color: #fff
}

.index__tab__src-home-zoneAll-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #757575;
    border-bottom: .08533rem solid #fff
}

.index__curTab__src-home-zoneAll-tab-.index__big__src-home-zoneAll-tab-,
.index__tab__src-home-zoneAll-tab-.index__big__src-home-zoneAll-tab- {
    margin: 0 .29867rem
}

.index__curTab__src-home-zoneAll-tab-.index__big__src-home-zoneAll-tab->p,
.index__tab__src-home-zoneAll-tab-.index__big__src-home-zoneAll-tab->p {
    width: 1.96267rem
}

.index__tab__src-home-zoneAll-tab-.index__test__src-home-zoneAll-tab->p {
    color: #fff
}

.index__reminder__src-home-reminder- {
    position: relative;
    height: 0;
    padding: 0 .68267rem;
    margin: auto;
    overflow: hidden;
    background-color: #fff1d3;
    transition: all .5s;
    -webkit-transition: all .5s
}

.index__reminder__src-home-reminder- .index__re__src-home-reminder- {
    position: relative;
    height: .384rem
}

.index__reminder__src-home-reminder- .index__tipsIcon__src-home-reminder- {
    position: relative;
    float: left;
    width: .512rem;
    margin-top: .17067rem
}

.index__reminder__src-home-reminder- .index__tipsIcon__src-home-reminder- img {
    display: block;
    width: 100%
}

.index__reminder__src-home-reminder- p {
    position: relative;
    float: left;
    width: 87%;
    margin-left: .32rem;
    font-size: .55467rem;
    line-height: .85333rem;
    color: #212121;
    text-align: left
}

.index__reminder__src-home-reminder- span.index__location__src-home-reminder- {
    color: #fb7299
}

.index__reminder__src-home-reminder- .index__closeIcon__src-home-reminder- {
    position: relative;
    float: right;
    width: 1.024rem;
    height: 1.024rem
}

.index__reminder__src-home-reminder- .index__closeIcon__src-home-reminder- img {
    display: block;
    width: .512rem;
    margin-left: .512rem;
    margin-top: .17067rem
}

.index__reminder__src-home-reminder- .index__clear__src-home-reminder- {
    clear: both
}

.index__reminder__src-home-reminder-.index__show__src-home-reminder- {
    border-top: .02133rem solid #f8dfaa;
    height: 2.47467rem;
    border-bottom: .02133rem solid #f8dfaa
}

.index__banner__src-home-slider- {
    margin: auto;
    background-image: url(//s1.hdslb.com/bfs/static/mult/images/tv.png);
    background-position: 5.65333rem 3.75467rem;
    background-size: 4.69333rem 4.69333rem;
    background-repeat: no-repeat;
    background-color: #e7e7e7
}

.index__banner__src-home-slider-,
.swipe {
    position: relative;
    width: 100%;
    height: 4.69333rem
}

.swipe {
    overflow: hidden;
    visibility: hidden
}

.swipe .swipe-btn-wrapper {
    position: absolute;
    left: 0;
    bottom: .192rem;
    z-index: 0;
    width: 100%;
    text-align: center;
    height: .552rem;
    line-height: .552rem
}

.swipe .swipe-btn-wrapper .swipe-btn-list {
    background-color: rgba(0, 0, 0, .5);
    border-radius: .21333rem;
    padding: 0 .32rem;
    display: inline-block
}

.swipe .swipe-btn-wrapper .swipe-btn-list a {
    width: .21333rem;
    height: .21333rem;
    float: left;
    background-color: #fff;
    border-radius: .10667rem;
    margin: .10667rem!important
}

.swipe .swipe-btn-wrapper .swipe-btn-list a.on {
    background-color: #de698c
}

.swipe-wrap {
    overflow: hidden;
    position: relative
}

.swipe-wrap>a {
    position: relative;
    display: block;
    float: left;
    width: 16rem;
    height: 4.69333rem;
    margin: auto
}

.swipe-wrap>a img {
    display: block;
    position: relative;
    width: 100%
}

.index__clearfix__src-home-different-:after,
.index__clearfix__src-home-different-:before,
.index__different__src-home-different- .index__content__src-home-different-:after,
.index__different__src-home-different- .index__content__src-home-different-:before,
.index__different__src-home-different- .index__more__src-home-different-:after,
.index__different__src-home-different- .index__more__src-home-different-:before,
.index__different__src-home-different- .index__title__src-home-different-:after,
.index__different__src-home-different- .index__title__src-home-different-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__different__src-home-different- {
    position: relative;
    width: 100%
}

.index__different__src-home-different- .index__title__src-home-different- {
    position: relative;
    margin-left: .512rem;
    margin-bottom: .21333rem
}

.index__different__src-home-different- .index__title__src-home-different- .index__icon1__src-home-different- {
    position: relative;
    float: left;
    margin-top: .2688rem;
    width: 1.19467rem;
    height: .95573rem
}

.index__different__src-home-different- .index__title__src-home-different- .index__icon1__src-home-different- .index__icon__src-home-different- {
    display: block;
    width: 100%;
    height: .95573rem
}

.index__different__src-home-different- .index__title__src-home-different- p {
    position: relative;
    float: left;
    margin-left: .10667rem;
    width: 3.41333rem;
    font-size: .68267rem;
    line-height: 1.49333rem;
    text-align: left;
    color: #212121
}

.index__different__src-home-different- .index__more__src-home-different- {
    position: absolute;
    right: .512rem;
    top: .29867rem
}

.index__different__src-home-different- .index__more__src-home-different- .index__words__src-home-different- {
    position: relative;
    float: left;
    width: 2.47467rem;
    margin-left: .23467rem;
    margin-top: .14933rem
}

.index__different__src-home-different- .index__more__src-home-different- .index__words__src-home-different- p {
    font-size: .59733rem;
    color: #999;
    text-align: center;
    line-height: .59733rem
}

.index__different__src-home-different- .index__more__src-home-different- .index__arrow__src-home-different- {
    position: relative;
    width: .59733rem;
    margin-top: .192rem;
    margin-left: .21333rem;
    float: left
}

.index__different__src-home-different- .index__more__src-home-different- .index__arrow__src-home-different- .index__icon__src-home-different- {
    display: block;
    width: 100%;
    height: .512rem;
    fill: #aaa
}

.index__different__src-home-different- .index__content__src-home-different- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem
}

.index__clearfix__src-home-recommend-:after,
.index__clearfix__src-home-recommend-:before,
.index__recommend__src-home-recommend- .index__content__src-home-recommend-:after,
.index__recommend__src-home-recommend- .index__content__src-home-recommend-:before,
.index__recommend__src-home-recommend- .index__rank__src-home-recommend-:after,
.index__recommend__src-home-recommend- .index__rank__src-home-recommend-:before,
.index__recommend__src-home-recommend- .index__title__src-home-recommend-:after,
.index__recommend__src-home-recommend- .index__title__src-home-recommend-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__recommend__src-home-recommend- {
    position: relative;
    width: 100%;
    padding-top: .08533rem;
    height: 15.82933rem
}

.index__recommend__src-home-recommend- .index__title__src-home-recommend- {
    position: relative;
    margin-left: .512rem
}

.index__recommend__src-home-recommend- .index__title__src-home-recommend- .index__icon1__src-home-recommend- {
    position: relative;
    float: left;
    margin-top: .6528rem;
    width: 1.19467rem;
    height: .95573rem
}

.index__recommend__src-home-recommend- .index__title__src-home-recommend- .index__icon1__src-home-recommend- .index__icon__src-home-recommend- {
    display: block;
    width: 100%;
    height: .95573rem
}

.index__recommend__src-home-recommend- .index__title__src-home-recommend- p {
    position: relative;
    float: left;
    margin-left: .10667rem;
    width: 3.41333rem;
    font-size: .68267rem;
    line-height: 2.26133rem;
    text-align: left;
    color: #212121
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- {
    position: absolute;
    right: .512rem;
    top: .85333rem
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__icon__src-home-recommend- {
    position: relative;
    width: 1.36533rem;
    height: .81067rem;
    float: left;
    display: block
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__icon__src-home-recommend-.index__fill__src-home-recommend- {
    fill: #ffa726
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__words__src-home-recommend- {
    position: relative;
    float: left;
    width: 1.87733rem;
    margin-top: .14933rem
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__words__src-home-recommend- p {
    font-size: .59733rem;
    color: #ffa726;
    text-align: center;
    line-height: .59733rem
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__arrow__src-home-recommend- {
    position: relative;
    width: .59733rem;
    height: .59733rem;
    margin-top: .14933rem;
    margin-left: .21333rem;
    float: left
}

.index__recommend__src-home-recommend- .index__rank__src-home-recommend- .index__arrow__src-home-recommend- .index__icon__src-home-recommend- {
    display: block;
    width: 100%;
    height: .59733rem;
    fill: #aaa
}

.index__recommend__src-home-recommend- .index__content__src-home-recommend- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem
}
