.index__clearfix__src-commonComponent-TopPromptPannel-:after,
.index__clearfix__src-commonComponent-TopPromptPannel-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.77333rem;
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__txt__src-commonComponent-TopPromptPannel- {
    padding: .59733rem 1.49333rem;
    width: 90%;
    height: 100%;
    line-height: .768rem;
    font-size: .59733rem;
    box-sizing: border-box;
    background: url(//s1.hdslb.com/bfs/static/mult/images/open-notice.png) no-repeat;
    background-position: 100%
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__red__src-commonComponent-TopPromptPannel- {
    color: #fb7299
}

.index__topPromptPanner__src-commonComponent-TopPromptPannel- .index__closeBtn__src-commonComponent-TopPromptPannel- {
    position: absolute;
    top: 1.06667rem;
    right: .53333rem;
    width: .64rem;
    height: .64rem;
    background: url(//s1.hdslb.com/bfs/static/mult/images/icon-close.png) no-repeat;
    background-size: 100% 100%
}

p {
    max-height: 999999px
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none
}

body,
html {
    background-color: #fff;
    -webkit-tap-highlight-color: transparent
}

a:hover {
    text-decoration: none
}

input[type=button] {
    -webkit-appearance: none;
    outline: none
}

.index__partition__src-partition- {
    background-color: #f4f4f4
}

.index__partition__src-partition- .index__content__src-partition- {
    position: relative;
    padding-top: 3.75467rem;
    margin: 0
}

.index__partition__src-partition- .index__content__src-partition- p {
    font-size: .68267rem;
    line-height: 1.36533rem
}

.index__partition__src-partition- .index__line__src-partition- {
    position: relative;
    width: 100%;
    padding-top: 5.632rem;
    height: .02133rem;
    border-bottom: .02133rem solid #ccc
}

.index__partition__src-partition- .index__specialLine__src-partition- {
    position: relative;
    width: 100%;
    padding-top: 3.75467rem;
    height: .02133rem;
    border-bottom: .02133rem solid #ccc
}

.index__partition__src-partition- .index__toTop__src-partition- {
    position: fixed;
    z-index: 3;
    bottom: .896rem;
    right: .896rem;
    width: 1.70667rem;
    display: none
}

.index__partition__src-partition- .index__toTop__src-partition- img {
    display: block;
    width: 100%
}

.index__partition__src-partition- .index__law__src-partition- {
    position: relative;
    margin-top: 1.344rem;
    padding-bottom: .32rem
}

.index__partition__src-partition- .index__law__src-partition- p {
    font-size: .55467rem;
    color: #999;
    line-height: 1.36533rem;
    text-align: center
}

.index__topArea__src-partition-topArea- {
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 1.32267rem;
    padding: .27733rem 0;
    background-color: #fff
}

.index__topArea__src-partition-topArea- a.index__logo__src-partition-topArea- {
    position: absolute;
    display: block;
    left: .77867rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    width: 2.64533rem
}

.index__topArea__src-partition-topArea- a.index__logo__src-partition-topArea- img {
    position: relative;
    display: block;
    width: 100%;
    margin: auto
}

.index__topArea__src-partition-topArea- a.index__searchIcon__src-partition-topArea- {
    position: absolute;
    display: block;
    width: .896rem;
    height: .896rem;
    right: 42%;
    top: 50%;
    -webkit-transform: translateY(-50%)
}

.index__topArea__src-partition-topArea- a.index__searchIcon__src-partition-topArea- .index__icon__src-partition-topArea- {
    display: block;
    width: 100%;
    height: .896rem;
    fill: #aaa
}

.index__topArea__src-partition-topArea- a.index__mySpace__src-partition-topArea- {
    position: absolute;
    display: block;
    width: 1.024rem;
    height: 1.024rem;
    right: 30.13%;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    background: url("//static.hdslb.com/images/member/noface.gif") no-repeat;
    background-size: 100% 100%;
    overflow: hidden
}

.index__topArea__src-partition-topArea- a.index__mySpace__src-partition-topArea- img {
    position: relative;
    display: block;
    width: 1.024rem;
    height: 1.024rem
}

.index__topArea__src-partition-topArea- a.index__downloadBtn__src-partition-topArea- {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    right: .42667rem;
    width: 3.41333rem;
    height: 1.024rem;
    border: .02133rem solid #fb7299;
    border-radius: .17067rem;
    background-color: #fb7299
}

.index__topArea__src-partition-topArea- a.index__downloadBtn__src-partition-topArea- p {
    font-size: .55467rem;
    line-height: 1.06667rem;
    text-align: center;
    color: #fff
}

.index__partBox__src-partition-zone- {
    position: fixed;
    width: 100%;
    top: 1.856rem;
    z-index: 5;
    webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- {
    position: relative;
    z-index: 2;
    padding-left: 1.024rem;
    width: 96.8%;
    height: 1.87733rem;
    background-color: #fff
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- .index__pagesContainer__src-partition-zone- {
    position: relative;
    width: 85%;
    padding-top: .256rem;
    overflow: hidden
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- .index__pagesContainer__src-partition-zone- .index__scrollContainer__src-partition-zone- {
    position: relative;
    height: 1.87733rem;
    width: 46.336rem;
    overflow-x: scroll
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- .index__pagesContainer__src-partition-zone- .index__scrollContainer__src-partition-zone-::-webkit-scrollbar {
    display: none
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- .index__switchContainer__src-partition-zone- {
    position: absolute;
    top: 0;
    width: 1.38667rem;
    height: 1.87733rem;
    right: .768rem
}

.index__partBox__src-partition-zone- .index__firstContainer__src-partition-zone- .index__switchContainer__src-partition-zone- .index__icon__src-partition-zone- {
    display: block;
    width: .68267rem;
    height: 1.87733rem;
    margin: auto;
    fill: #aaa
}

.index__curTab__src-partition-zone-tab- {
    display: inline-block;
    background-color: #fff;
    margin-right: 1.49333rem
}

.index__curTab__src-partition-zone-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fb7299;
    border-bottom: .08533rem solid #fb7299
}

.index__tab__src-partition-zone-tab- {
    display: inline-block;
    background-color: #fff;
    margin-right: 1.49333rem
}

.index__tab__src-partition-zone-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #757575;
    border-bottom: .08533rem solid #fff
}

.index__curTab__src-partition-zone-tab-.index__big__src-partition-zone-tab->p,
.index__tab__src-partition-zone-tab-.index__big__src-partition-zone-tab->p {
    width: 1.96267rem
}

.index__partBox__src-partition-secondZone- {
    background-color: #f9f9f9;
    height: 1.87733rem;
    z-index: 1;
    margin-top: -.02133rem;
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s
}

.index__partBox__src-partition-secondZone-,
.index__partBox__src-partition-secondZone- .index__pagesContainer__src-partition-secondZone- {
    position: relative;
    width: 100%;
    overflow: hidden
}

.index__partBox__src-partition-secondZone- .index__pagesContainer__src-partition-secondZone- .index__scrollContainer__src-partition-secondZone- {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: .896rem;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .21333rem
}

.index__partBox__src-partition-secondZone- .index__pagesContainer__src-partition-secondZone- .index__scrollContainer__src-partition-secondZone-::-webkit-scrollbar {
    display: none
}

.index__partBox__src-partition-secondZone-.index__dissappear__src-partition-secondZone- {
    transform: translateY(-1.87733rem);
    -webkit-transform: translateY(-1.87733rem)
}

.index__partBox__src-partition-secondZone-.index__appear__src-partition-secondZone- {
    transform: translateY(1.87733rem);
    -webkit-transform: translateY(1.87733rem)
}

.index__curTab__src-partition-secondZone-tab- {
    display: inline-block;
    margin-right: 1.024rem
}

.index__curTab__src-partition-secondZone-tab- p {
    font-size: .59733rem;
    line-height: 1.87733rem;
    text-align: center;
    color: #fb7299
}

.index__tab__src-partition-secondZone-tab- {
    display: inline-block;
    margin-right: 1.024rem
}

.index__tab__src-partition-secondZone-tab- p {
    font-size: .59733rem;
    line-height: 1.87733rem;
    text-align: center;
    color: #757575
}

.index__curTab__src-partition-secondZone-tab-.index__big__src-partition-secondZone-tab->p,
.index__tab__src-partition-secondZone-tab-.index__big__src-partition-secondZone-tab->p {
    width: 1.96267rem
}

.index__partBox__src-partition-zoneAll- {
    position: fixed;
    background-color: #fff;
    -webkit-transform: translateY(-9.38667rem) translateZ(0);
    -webkit-transition: -webkit-transform .6s;
    top: 1.87733rem;
    z-index: 6;
    padding-left: .34133rem;
    padding-right: .29867rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000
}

.index__partBox__src-partition-zoneAll- .index__pagesContainer__src-partition-zoneAll- {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center
}

.index__partBox__src-partition-zoneAll- .index__switchContainer__src-partition-zoneAll- {
    position: relative;
    margin: auto;
    margin-top: -.10667rem;
    width: 3.84rem;
    height: .91733rem;
    margin-bottom: .27733rem
}

.index__partBox__src-partition-zoneAll- .index__switchContainer__src-partition-zoneAll- .index__icon__src-partition-zoneAll- {
    position: absolute;
    display: block;
    width: .68267rem;
    height: .91733rem;
    margin: auto;
    left: 1.57867rem;
    fill: #aaa
}

.index__partBox__src-partition-zoneAll-.index__show__src-partition-zoneAll- {
    -webkit-transform: translateY(0) translateZ(0)
}

.index__curTab__src-partition-zoneAll-tab- {
    position: relative;
    display: block;
    padding-top: .256rem;
    padding-bottom: .256rem;
    margin-left: .59733rem;
    margin-right: .59733rem;
    background-color: #fff
}

.index__curTab__src-partition-zoneAll-tab- p {
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fb7299;
    width: 1.36533rem;
    border-bottom: .08533rem solid #fb7299
}

.index__tab__src-partition-zoneAll-tab- {
    position: relative;
    display: block;
    padding-top: .256rem;
    padding-bottom: .256rem;
    margin-left: .59733rem;
    margin-right: .59733rem;
    background-color: #fff
}

.index__tab__src-partition-zoneAll-tab- p {
    width: 1.36533rem;
    font-size: .59733rem;
    line-height: 1.28rem;
    text-align: center;
    color: #757575;
    border-bottom: .08533rem solid #fff
}

.index__curTab__src-partition-zoneAll-tab-.index__big__src-partition-zoneAll-tab-,
.index__tab__src-partition-zoneAll-tab-.index__big__src-partition-zoneAll-tab- {
    margin: 0 .29867rem
}

.index__curTab__src-partition-zoneAll-tab-.index__big__src-partition-zoneAll-tab->p,
.index__tab__src-partition-zoneAll-tab-.index__big__src-partition-zoneAll-tab->p {
    width: 1.96267rem
}

.index__tab__src-partition-zoneAll-tab-.index__test__src-partition-zoneAll-tab->p {
    color: #fff
}

.index__clearfix__src-partition-recommend-:after,
.index__clearfix__src-partition-recommend-:before,
.index__recommend__src-partition-recommend- .index__content__src-partition-recommend-:after,
.index__recommend__src-partition-recommend- .index__content__src-partition-recommend-:before,
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend-:after,
.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__recommend__src-partition-recommend- {
    position: relative;
    width: 100%;
    padding-top: .08533rem
}

.index__recommend__src-partition-recommend- .index__title__src-partition-recommend- {
    position: relative;
    margin-left: .512rem
}

.index__recommend__src-partition-recommend- .index__title__src-partition-recommend- p {
    font-size: .68267rem;
    line-height: 2.26133rem;
    text-align: left;
    color: #212121
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- {
    position: absolute;
    right: .512rem;
    top: .85333rem
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__icon__src-partition-recommend- {
    position: relative;
    width: 1.36533rem;
    height: .81067rem;
    float: left;
    display: block
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__icon__src-partition-recommend-.index__fill__src-partition-recommend- {
    fill: #ffa726
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__words__src-partition-recommend- {
    position: relative;
    float: left;
    width: 1.87733rem;
    margin-top: .14933rem
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__words__src-partition-recommend- p {
    font-size: .59733rem;
    color: #ffa726;
    text-align: center;
    line-height: .59733rem
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__arrow__src-partition-recommend- {
    position: relative;
    width: .59733rem;
    height: .59733rem;
    margin-top: .14933rem;
    margin-left: .21333rem;
    float: left
}

.index__recommend__src-partition-recommend- .index__rank__src-partition-recommend- .index__arrow__src-partition-recommend- .index__icon__src-partition-recommend- {
    display: block;
    width: 100%;
    height: .59733rem;
    fill: #aaa
}

.index__recommend__src-partition-recommend- .index__content__src-partition-recommend- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem
}

.index__clearfix__src-commonComponent-Item-:after,
.index__clearfix__src-commonComponent-Item-:before,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item-:after,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__item__src-commonComponent-Item- {
    display: block;
    text-decoration: none;
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: .68267rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- {
    position: relative;
    width: 7.232rem;
    height: 4.52267rem;
    overflow: hidden;
    display: block;
    margin: auto;
    border-radius: .256rem;
    -webkit-border-radius: .256rem;
    background-color: #e7e7e7;
    z-index: 1;
    background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, .5))
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img.index__tv__src-commonComponent-Item- {
    position: relative;
    width: 4.52267rem;
    height: 4.52267rem;
    z-index: 1
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img {
    display: block;
    position: relative;
    margin: auto;
    width: 100%
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- img.index__normal__src-commonComponent-Item- {
    position: absolute;
    top: 0;
    z-index: 2
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- {
    position: absolute;
    z-index: 3;
    left: 0;
    padding-left: .34133rem;
    width: 100%;
    bottom: 0;
    height: .68267rem;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, .5))
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__playIcon__src-commonComponent-Item- {
    position: relative;
    float: left;
    width: .68267rem;
    margin-top: -.064rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item- .index__icon__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__playIcon__src-commonComponent-Item- .index__icon__src-commonComponent-Item- {
    display: block;
    width: 100%;
    height: .68267rem;
    fill: #fff
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__danmuIcon__src-commonComponent-Item- {
    margin-left: .61867rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item-,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- {
    position: relative;
    float: left;
    margin-left: .256rem;
    width: 2.048rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__play__src-commonComponent-Item- p,
.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item- .index__info__src-commonComponent-Item- .index__view__src-commonComponent-Item- p {
    text-align: left;
    font-size: .46933rem;
    color: #fff;
    line-height: .59733rem
}

.index__item__src-commonComponent-Item- .index__imgContainer__src-commonComponent-Item->img {
    display: block;
    width: 100%
}

.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- {
    width: 7.232rem;
    position: relative;
    margin: auto;
    margin-top: .21333rem;
    height: 1.36533rem;
    overflow: hidden
}

.index__item__src-commonComponent-Item- .index__title__src-commonComponent-Item- p {
    font-size: .55467rem;
    color: #212121;
    letter-spacing: 0;
    line-height: .68267rem;
    text-align: left
}

.index__clearfix__src-partition-different-:after,
.index__clearfix__src-partition-different-:before,
.index__different__src-partition-different- .index__content__src-partition-different-:after,
.index__different__src-partition-different- .index__content__src-partition-different-:before,
.index__different__src-partition-different- .index__more__src-partition-different-:after,
.index__different__src-partition-different- .index__more__src-partition-different-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__different__src-partition-different- {
    position: relative;
    width: 100%
}

.index__different__src-partition-different- .index__title__src-partition-different- {
    position: relative;
    margin-left: .512rem;
    margin-bottom: .21333rem
}

.index__different__src-partition-different- .index__title__src-partition-different- p {
    font-size: .68267rem;
    line-height: 1.49333rem;
    text-align: left;
    color: #212121
}

.index__different__src-partition-different- .index__more__src-partition-different- {
    position: absolute;
    right: .512rem;
    top: .29867rem
}

.index__different__src-partition-different- .index__more__src-partition-different- .index__words__src-partition-different- {
    position: relative;
    float: left;
    width: 2.47467rem;
    margin-left: .23467rem;
    margin-top: .14933rem
}

.index__different__src-partition-different- .index__more__src-partition-different- .index__words__src-partition-different- p {
    font-size: .59733rem;
    color: #999;
    text-align: center;
    line-height: .59733rem
}

.index__different__src-partition-different- .index__more__src-partition-different- .index__arrow__src-partition-different- {
    position: relative;
    width: .59733rem;
    margin-top: .192rem;
    margin-left: .21333rem;
    float: left
}

.index__different__src-partition-different- .index__more__src-partition-different- .index__arrow__src-partition-different- .index__icon__src-partition-different- {
    display: block;
    width: 100%;
    height: .512rem;
    fill: #aaa
}

.index__different__src-partition-different- .index__content__src-partition-different- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem
}

.index__different__src-partition-different- .index__content__src-partition-different- .index__loading__src-partition-different- {
    position: relative;
    width: 80%;
    margin: auto
}

.index__different__src-partition-different- .index__content__src-partition-different- .index__loading__src-partition-different- p {
    font-size: .68267rem;
    line-height: 4.52267rem;
    color: #000;
    text-align: center
}

.index__clearfix__src-partition-latest-:after,
.index__clearfix__src-partition-latest-:before,
.index__latest__src-partition-latest- .index__content__src-partition-latest-:after,
.index__latest__src-partition-latest- .index__content__src-partition-latest-:before {
    content: "";
    display: block;
    height: 0;
    clear: both
}

.index__latest__src-partition-latest- {
    position: relative;
    width: 100%
}

.index__latest__src-partition-latest- .index__title__src-partition-latest- {
    position: relative;
    margin-left: .512rem;
    margin-bottom: .40533rem
}

.index__latest__src-partition-latest- .index__title__src-partition-latest- p {
    font-size: .68267rem;
    line-height: 1.10933rem;
    text-align: left;
    color: #212121
}

.index__latest__src-partition-latest- .index__content__src-partition-latest- {
    position: relative;
    padding-left: .256rem;
    padding-right: .256rem
}

.index__latest__src-partition-latest- .index__checkMore__src-partition-latest- {
    position: relative;
    width: 100%
}

.index__latest__src-partition-latest- .index__checkMore__src-partition-latest- p {
    line-height: 1.70667rem;
    font-size: .59733rem;
    color: #fb7299;
    background-color: #e7e7e7;
    text-align: center
}

.index__latest__src-partition-latest- .index__noMore__src-partition-latest- {
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: .68267rem
}

.index__latest__src-partition-latest- .index__noMore__src-partition-latest->img {
    display: block;
    width: 6.4rem;
    margin: auto;
    margin-bottom: .49067rem
}

.index__latest__src-partition-latest- .index__noMore__src-partition-latest->p {
    text-align: center;
    color: #999;
    font-size: .55467rem;
    line-height: .832rem
}
